.welcome-div {
    background-color: #39ac39;
    position: relative;
    top: -170px;
    height: 300px;
}

.logo {
    position: relative;
    top: 155px;
    left: 5px;
    border: 0;
    width: 300px;
    height: 150px;

}

.welcome-message {
    color: azure;
    position: relative;
    text-align: center;
    right: 100px;
    text-shadow: -1px -1px 0 #000;
}

.slogan {
    color: azure;
    position: relative;
    text-align: center;
    right: 100px;
    text-shadow: -1px -1px 0 #000;
}

.login-form {
    position: relative;
    text-align: right;
    left: -100px;

}

.username-login-box {
    position: relative;
    top: -100px;
    left: -240px;
}

.username-login-text {
    position: relative;

}

.username-login-input {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.password-login-box {
    position: relative;
    top: -140px;
    width: 50px;
    left: 1300px
}

.password-login-text {
    position: relative;
    top: 19px;

}

.password-login-input {
    position: relative;
    left: 80px;
    top: -2px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}

.login-button {
    position: relative;
    top: -165px;
    left: 80px;
}

/*
REGISTRATION FORM BELOW
*/

.register-div {
    position: relative;
    float:right;
    width: 430px;
    border-style: solid;
    padding: 25px 15px 15px 15px;
    border-color: #ccf5ff;
    border-radius: 20px;
}

.register-email-input {
    position: relative;
    left: 45px;
    margin-bottom: 12px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.register-username-input {
    position: relative;
    left: 17.5px;
    margin-bottom: 12px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.register-firstName-input {
    position: relative;
    left: 14px;
    margin-bottom: 12px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.register-lastName-input {
    position: relative;
    left: 15px;
    margin-bottom: 12px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.register-birth-input {
    margin-bottom: 12px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.register-password-input {
    position: relative;
    left: 25px;
    margin-bottom: 12px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.register-confirmPass-input {
    position: relative;
    margin-bottom: 12px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.button-register-account {
    float:right;
}


